
:root {
    // Colors
    --primary: #3498db;
    --white: #fff;
    --app-back: #f5f6f8;
    --grey-100: #f6fafe;
    --grey-200: #8ea1b4;
    --grey-300: #2775a9;
    --dark: #16315c;

    // Indents
    --side-indent: 53px;
}